<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo app</title>
    <link rel="stylesheet" href="../theme.css">
  </head>
  <body ng-app="todoApp">
    <section class="todo-app" ng-controller="todoController as ctrl">
      <h1>Things to do</h1>
      <div class="input-container">
        <input class="todo-input" type="text" ng-model="todoInput" placeholder="The new thing I need to do"/> 
        <button class="add-button" ng-click="addItem()">+</button>
      </div>
      <div class="todo-list-viewport">
        <ul class="todo-list">
          <li class="todo-item" ng-repeat="todo in todoList">
            <h3 class="todo-title">{{todo.text}}</h3>
            <div class="todo-item-actions">
              <input type="checkbox" class="done-checkbox" ng-model="todo.done"/>
              <label for="">Done</label>
              <button class="remove-button" ng-click="removeTodoItem($index)">Remove</button>
            </div>
          </li>
        </ul>
      </div>
    </section>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular.min.js"></script>
    <script src="app.js"></script>
  </body>
</html>